# Course: Advanced Programming at semester 14031 in Intl. Campus of SUT
### Teacher: Dr. Hosein Pour
### Student & ID: M. Fazel Basiri 99154201

# Pre Session:

In [1]:
a = 2
b = 1
d = a or b
print(d)

2

In [2]:
a = 2
b = 1
d = a and b
print(d)

1

In [3]:
a and b

1

In [4]:
a and b

1

In [5]:
a = True
b =False
d = a and b
print(d)

False

In [6]:
a = False
b = True
d = a and b
print(d)

False

In [7]:
a = 1
b = 0
d = a and b
print(d)

0

In [8]:
a = 1
b = 0
d = a and b
print(d)

0

# Markdown Session (Session 4):

# 1 subject

## 1-1 intro

### 1-1-1 details

# Font

### Italic : *Fazel*

### Bold : **Fazel**

### Italic & Bold : ***Fazel***

### Differenct font : $$Fazel$$

### List :
 - Fa
 - Ze
 - L

### Tree in writing:
- Unit 1
- Unit 2
    - Unit 2.1
        - Unit a

2. Units
    1. Unit 1
    2. Unit 2
        1. Unit 2.1

### Link :
Here you can find [Football Results](https://varzesh3.com)

### Picture :
This is SUT's logo

![Sharif Logo](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhKO_JjL7krcroP69MiOGiiTGEyiJEuTNQrw&s)

![REAL MADRID LOGO](RM_logo.jpg)

![Naser Hejazi](images.jfif)

![Hejazi](Images/download.webp)

<img src="Images/download.webp" alt="Alt text" width="100" height="50">

### Code Block :
`Fazel` or ```Fazel```

### Quote :
> Real Madrid

### Table :
| Mah  | Fazel |
|-------|-------|
|Sorena | Sorena|
|Kazhal | Kazhal|

### Formula :
$E=MC^2$
$$
E=MC^2
$$

### Task List :
- [ ] Midterm
- [ ] Football
- [x] Studying

# Session 5
## Variable name :
- camelCase
- snake_case

In [9]:
fazelAge = 25
Fazel_Age = 26

## Strings concept :

## creating an standard form of a vaiable

In [10]:
myName = 'MohammadFazel'

In [11]:
print (myName)

MohammadFazel

### Len Function

In [12]:
len(myName)

13

In [13]:
len('Mohammad2499Fazel')

17

#### Finding character by its place

In [14]:
myName[0]

'M'

In [15]:
myName[1]

'o'

In [16]:
myName[-1]

'l'

In [17]:
myName[len(myName)-1]

'l'

### Interval in indics

In [18]:
myName [1:7]

'ohamma'

In [19]:
myName [2:7] #Finding characters between two place by defining a range

'hamma'

### String addition

In [20]:
myFamilly = 'Basiri'
myFullName = myName + myFamilly
myFullName

'MohammadFazelBasiri'

### String multiplication

In [21]:
myDoubleFullName = myFullName * 2  #We can't multiply two strings together
myDoubleFullName

'MohammadFazelBasiriMohammadFazelBasiri'

In [22]:
myDoubleFullName = myFullName * 20  #We can't multiply two strings together
myDoubleFullName

'MohammadFazelBasiriMohammadFazelBasiriMohammadFazelBasiriMohammadFazelBasiriMohammadFazelBasiriMohammadFazelBasiriMohammadFazelBasiriMohammadFazelBasiriMohammadFazelBasiriMohammadFazelBasiriMohammadFazelBasiriMohammadFazelBasiriMohammadFazelBasiriMohammadFazelBasiriMohammadFazelBasiriMohammadFazelBasiriMohammadFazelBasiriMohammadFazelBasiriMohammadFazelBasiriMohammadFazelBasiri'

In [23]:
tempInt = 1
tempStr = '1'
print(tempInt*2)
print(tempStr*2)
temp = """ ok
 lets
 go
"""
print(temp)

2
11
 ok
 lets
 go

In [24]:
myName

'MohammadFazel'

In [25]:
print(myName.find("s"))
myFullName.find(myFamilly)

-1

13

# Session 6

#### how to find place by character

In [26]:
myName.find ('ma')

5

In [27]:
_Str = "RealMadrid"
_Str.find ("l")

3

In [28]:
myFullName[0]

'M'

In [29]:
myFullName = myFullName.replace(myFamilly, 'Kazhal' + myFamilly)
myFullName

'MohammadFazelKazhalBasiri'

In [30]:
myName = "MohammadFazel"
myFamilly = "Basiri"
myFriendsName = "Saeed"
myFullName = myName + myFamilly
myFullName

'MohammadFazelBasiri'

In [31]:
myChangedFullName = myFullName.replace (myName, myFriendsName)
myChangedFullName

'SaeedBasiri'

In [32]:
myFullName * 2

'MohammadFazelBasiriMohammadFazelBasiri'

In [33]:
myName.upper()

'MOHAMMADFAZEL'

In [34]:
myName.isalpha() #isalpha, isdigit, etc

True

In [35]:
myNationalCode = "2499"

In [36]:
myNationalCode.isalpha()

False

In [37]:
myAdress = "Sadaf24"

In [38]:
myAdress.isalpha()

False

In [39]:
myTeacherName = "Sir Dr. Hoseinpour"

In [40]:
splitedTeacherName = myTeacherName.split(' ')

In [41]:
print(splitedTeacherName)

['Sir', 'Dr.', 'Hoseinpour']

In [42]:
myCammaTeacherName = "Sir,Dr. Hoseinpour"
splitedCammaTeacherName = myCammaTeacherName.split (',')
print(splitedCammaTeacherName)

['Sir', 'Dr. Hoseinpour']

In [43]:
time = "12:18:00"
splitedTime = time.split(':')
print(splitedTime)

['12', '18', '00']

In [44]:
dir(myName)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [45]:
myName.isdigit()

False

In [46]:
help(myName.translate)

Help on built-in function translate:

translate(table, /) method of builtins.str instance
    Replace each character in the string using the given translation table.

      table
        Translation table, which must be a mapping of Unicode ordinals to
        Unicode ordinals, strings, or None.

    The table must implement lookup/indexing via __getitem__, for instance a
    dictionary or list.  If this operation raises LookupError, the character is
    left untouched.  Characters mapped to None are deleted.

In [47]:
tempString = 'A\nB\tC' # \n is end of line, \t is tab
print(tempString)

A
B	C

In [48]:
tS1 = 'Fazel'
tS2 = 'Saeed'
print(tS1 + "\n" + tS2)

Fazel
Saeed

In [49]:
print("\"")

"

In [50]:
print("Saeed goft:\"baaaaa hasaaan AAAA\"")

Saeed goft:"baaaaa hasaaan AAAA"

In [51]:
tempString = 'A\0B\0C'
print(tempString)

A B C

# Wikipedia homework

In [52]:
python_Wikip = """ Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.[32]

Python is dynamically typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming. It is often described as a "batteries included" language due to its comprehensive standard library.[33][34]

Guido van Rossum began working on Python in the late 1980s as a successor to the ABC programming language and first released it in 1991 as Python 0.9.0.[35] Python 2.0 was released in 2000. Python 3.0, released in 2008, was a major revision not completely backward-compatible with earlier versions. Python 2.7.18, released in 2020, was the last release of Python 2.[36]

Python consistently ranks as one of the most popular programming languages, and has gained widespread use in the machine learning community.[37][38][39][40]

History
Main article: History of Python

The designer of Python, Guido van Rossum, at OSCON 2006
Python was invented in the late 1980s[41] by Guido van Rossum at Centrum Wiskunde & Informatica (CWI) in the Netherlands as a successor to the ABC programming language, which was inspired by SETL,[42] capable of exception handling and interfacing with the Amoeba operating system.[12] Its implementation began in December 1989.[43] Van Rossum shouldered sole responsibility for the project, as the lead developer, until 12 July 2018, when he announced his "permanent vacation" from his responsibilities as Python's "benevolent dictator for life" (BDFL), a title the Python community bestowed upon him to reflect his long-term commitment as the project's chief decision-maker[44] (he has since come out of retirement and is self-titled "BDFL-emeritus"). In January 2019, active Python core developers elected a five-member Steering Council to lead the project.[45][46]

Python 2.0 was released on 16 October 2000, with many major new features such as list comprehensions, cycle-detecting garbage collection, reference counting, and Unicode support.[47] Python 3.0 was released on 3 December 2008, with many of its major features backported to Python 2.6.x[48] and 2.7.x. Releases of Python 3 include the 2to3 utility, which automates the translation of Python 2 code to Python 3.[49]

Python 2.7's end-of-life was initially set for 2015, then postponed to 2020 out of concern that a large body of existing code could not easily be forward-ported to Python 3.[50][51] No further security patches or other improvements will be released for it.[52][53] Currently only 3.9 and later are supported (2023 security issues were fixed in e.g. 3.7.17, the final 3.7.x release[54]). While Python 2.7 and older is officially unsupported, a different unofficial Python implementation, PyPy, continues to support Python 2, i.e. "2.7.18+" (plus 3.10), with the plus meaning (at least some) "backported security updates".[55]

In 2021 (and again twice in 2022, and in September 2024 for Python 3.12.6 down to 3.8.20), security updates were expedited, since all Python versions were insecure (including 2.7[56]) because of security issues leading to possible remote code execution[57] and web-cache poisoning.[58] In 2022, Python 3.10.4 and 3.9.12 were expedited[59] and 3.8.13, because of many security issues.[60] When Python 3.9.13 was released in May 2022, it was announced that the 3.9 series (joining the older series 3.8 and 3.7) would only receive security fixes in the future.[61] On 7 September 2022, four new releases were made due to a potential denial-of-service attack: 3.10.7, 3.9.14, 3.8.14, and 3.7.14.[62][63]

Every Python release since 3.5 has added some syntax to the language. 3.10 added the | union type operator[64] and the match and case keywords (for structural pattern matching statements). 3.11 expanded exception handling functionality. Python 3.12 added the new keyword type. Notable changes in 3.11 from 3.10 include increased program execution speed and improved error reporting.[65] Python 3.11 claims to be between 10 and 60% faster than Python 3.10, and Python 3.12 adds another 5% on top of that. It also has improved error messages, and many other changes.

Python 3.13 introduces more syntax for types, a new and improved interactive interpreter (REPL), featuring multi-line editing and color support; an incremental garbage collector (producing shorter pauses for collection in programs with a lot of objects, and addition to the improved speed in 3.11 and 3.12), and an experimental just-in-time (JIT) compiler (such features, can/needs to be enabled specifically for the increase in speed),[66] and an experimental free-threaded build mode, which disables the global interpreter lock (GIL), allowing threads to run more concurrently, that latter feature enabled with python3.13t or python3.13t.exe.

Python 3.13 introduces some change in behavior, i.e. new "well-defined semantics", fixing bugs (plus many removals of deprecated classes, functions and methods, and removed some of the C API and outdated modules): "The [old] implementation of locals() and frame.f_locals is slow, inconsistent and buggy [and it has] has many corner cases and oddities. Code that works around those may need to be changed. Code that uses locals() for simple templating, or print debugging, will continue to work correctly."[67]

Since 7 October 2024, Python 3.13 is the latest stable release, and 3.13 and 3.12 are the only versions with active (as opposed to just security) support and Python 3.9 is the oldest supported version of Python (albeit in the 'security support' phase), due to Python 3.8 reaching end-of-life.[68] Starting with 3.13, it and later versions have 2 years of full support (up from one and a half); followed by 3 years of security support (for same total support as before).

Some (more) standard library modules and many deprecated classes, functions and methods, will be removed in Python 3.15 or 3.16.[69][70]
Python is a multi-paradigm programming language. Object-oriented programming and structured programming are fully supported, and many of their features support functional programming and aspect-oriented programming (including metaprogramming[71] and metaobjects).[72] Many other paradigms are supported via extensions, including design by contract[73][74] and logic programming.[75] Python is known as a glue language,[76] able to work very well with many other languages with ease of access.

Python uses dynamic typing and a combination of reference counting and a cycle-detecting garbage collector for memory management.[77] It uses dynamic name resolution (late binding), which binds method and variable names during program execution.

Its design offers some support for functional programming in the Lisp tradition. It has filter,mapandreduce functions; list comprehensions, dictionaries, sets, and generator expressions.[78] The standard library has two modules (itertools and functools) that implement functional tools borrowed from Haskell and Standard ML.[79]

Its core philosophy is summarized in the Zen of Python (PEP 20), which includes aphorisms such as:[80]

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Readability counts.
However, Python features regularly violate these principles and have received criticism for adding unnecessary language bloat.[81] Responses to these criticisms are that the Zen of Python is a guideline rather than a rule.[82] The addition of some new features had been so controversial that Guido van Rossum resigned as Benevolent Dictator for Life following vitriol over the addition of the assignment expression operator in Python 3.8.[83][84]

Nevertheless, rather than building all of its functionality into its core, Python was designed to be highly extensible via modules. This compact modularity has made it particularly popular as a means of adding programmable interfaces to existing applications. Van Rossum's vision of a small core language with a large standard library and easily extensible interpreter stemmed from his frustrations with ABC, which espoused the opposite approach.[41]

Python claims to strive for a simpler, less-cluttered syntax and grammar while giving developers a choice in their coding methodology. In contrast to Perl's "there is more than one way to do it" motto, Python embraces a "there should be one—and preferably only one—obvious way to do it." philosophy.[80] In practice, however, Python provides many ways to achieve the same task. There are, for example, at least three ways to format a string literal, with no certainty as to which one a programmer should use.[85] Alex Martelli, a Fellow at the Python Software Foundation and Python book author, wrote: "To describe something as 'clever' is not considered a compliment in the Python culture."[86]

Python's developers usually strive to avoid premature optimization and reject patches to non-critical parts of the CPython reference implementation that would offer marginal increases in speed at the cost of clarity.[87] Execution speed can be improved by moving speed-critical functions to extension modules written in languages such as C, or by using a just-in-time compiler like PyPy. It is also possible to cross-compile to other languages, but it either doesn't provide the full speed-up that might be expected, since Python is a very dynamic language, or a restricted subset of Python is compiled, and possibly semantics are slightly changed.[88]

Python's developers aim for it to be fun to use. This is reflected in its name—a tribute to the British comedy group Monty Python[89]—and in occasionally playful approaches to tutorials and reference materials, such as the use of the terms "spam" and "eggs" (a reference to a Monty Python sketch) in examples, instead of the often-used "foo" and "bar".[90][91] A common neologism in the Python community is pythonic, which has a wide range of meanings related to program style. "Pythonic" code may use Python idioms well, be natural or show fluency in the language, or conform with Python's minimalist philosophy and emphasis on readability. Code that is difficult to understand or reads like a rough transcription from another programming language is called unpythonic.[92]
Python is meant to be an easily readable language. Its formatting is visually uncluttered and often uses English keywords where other languages use punctuation. Unlike many other languages, it does not use curly brackets to delimit blocks, and semicolons after statements are allowed but rarely used. It has fewer syntactic exceptions and special cases than C or Pascal.[93]

Indentation
Main article: Python syntax and semantics § Indentation
Python uses whitespace indentation, rather than curly brackets or keywords, to delimit blocks. An increase in indentation comes after certain statements; a decrease in indentation signifies the end of the current block.[94] Thus, the program's visual structure accurately represents its semantic structure.[95] This feature is sometimes termed the off-side rule. Some other languages use indentation this way; but in most, indentation has no semantic meaning. The recommended indent size is four spaces.[96]

Statements and control flow
Python's statements include:

The assignment statement, using a single equals sign =
The if statement, which conditionally executes a block of code, along with else and elif (a contraction of else-if)
The for statement, which iterates over an iterable object, capturing each element to a local variable for use by the attached block
The while statement, which executes a block of code as long as its condition is true
The try statement, which allows exceptions raised in its attached code block to be caught and handled by except clauses (or new syntax except* in Python 3.11 for exception groups[97]); it also ensures that clean-up code in a finally block is always run regardless of how the block exits
The raise statement, used to raise a specified exception or re-raise a caught exception
The class statement, which executes a block of code and attaches its local namespace to a class, for use in object-oriented programming
The def statement, which defines a function or method
The with statement, which encloses a code block within a context manager (for example, acquiring a lock before it is run, then releasing the lock; or opening and closing a file), allowing resource-acquisition-is-initialization (RAII)-like behavior and replacing a common try/finally idiom[98]
The break statement, which exits a loop
The continue statement, which skips the rest of the current iteration and continues with the next
The del statement, which removes a variable—deleting the reference from the name to the value, and producing an error if the variable is referred to before it is redefined
The pass statement, serving as a NOP, syntactically needed to create an empty code block
The assert statement, used in debugging to check for conditions that should apply
The yield statement, which returns a value from a generator function (and also an operator); used to implement coroutines
The return statement, used to return a value from a function
The import and from statements, used to import modules whose functions or variables can be used in the current program
The match and case statements, an analog of the switch statement construct, that compares an expression against one or more cases as a control-of-flow measure.
The assignment statement (=) binds a name as a reference to a separate, dynamically allocated object. Variables may subsequently be rebound at any time to any object. In Python, a variable name is a generic reference holder without a fixed data type; however, it always refers to some object with a type. This is called dynamic typing—in contrast to statically-typed languages, where each variable may contain only a value of a certain type.

Python does not support tail call optimization or first-class continuations, and, according to Van Rossum, it never will.[99][100] However, better support for coroutine-like functionality is provided by extending Python's generators.[101] Before 2.5, generators were lazy iterators; data was passed unidirectionally out of the generator. From Python 2.5 on, it is possible to pass data back into a generator function; and from version 3.3, it can be passed through multiple stack levels.[102]

Expressions
Python's expressions include:

The +, -, and * operators for mathematical addition, subtraction, and multiplication are similar to other languages, but the behavior of division differs. There are two types of divisions in Python: floor division (or integer division) // and floating-point/division.[103] Python uses the ** operator for exponentiation.
Python uses the + operator for string concatenation. Python uses the * operator for duplicating a string a specified number of times.
The @ infix operator. It is intended to be used by libraries such as NumPy for matrix multiplication.[104][105]
The syntax :=, called the "walrus operator", was introduced in Python 3.8. It assigns values to variables as part of a larger expression.[106]
In Python, == compares by value. Python's is operator may be used to compare object identities (comparison by reference), and comparisons may be chained—for example, a <= b <= c.
Python uses and, or, and not as Boolean operators.
Python has a type of expression named a list comprehension, and a more general expression named a generator expression.[78]
Anonymous functions are implemented using lambda expressions; however, there may be only one expression in each body.
Conditional expressions are written as x if c else y[107] (different in order of operands from the c ? x : y operator common to many other languages).
Python makes a distinction between lists and tuples. Lists are written as [1, 2, 3], are mutable, and cannot be used as the keys of dictionaries (dictionary keys must be immutable in Python). Tuples, written as (1, 2, 3), are immutable and thus can be used as keys of dictionaries, provided all of the tuple's elements are immutable. The + operator can be used to concatenate two tuples, which does not directly modify their contents, but produces a new tuple containing the elements of both. Thus, given the variable t initially equal to (1, 2, 3), executing t = t + (4, 5) first evaluates t + (4, 5), which yields (1, 2, 3, 4, 5), which is then assigned back to t—thereby effectively "modifying the contents" of t while conforming to the immutable nature of tuple objects. Parentheses are optional for tuples in unambiguous contexts.[108]
Python features sequence unpacking where multiple expressions, each evaluating to anything that can be assigned (to a variable, writable property, etc.) are associated in an identical manner to that forming tuple literals—and, as a whole, are put on the left-hand side of the equal sign in an assignment statement. The statement expects an iterable object on the right-hand side of the equal sign that produces the same number of values as the provided writable expressions; when iterated through them, it assigns each of the produced values to the corresponding expression on the left.[109]
Python has a "string format" operator % that functions analogously to printf format strings in C—e.g. "spam=%s eggs=%d" % ("blah", 2) evaluates to "spam=blah eggs=2". In Python 2.6+ and 3+, this was supplemented by the format() method of the str class, e.g. "spam={0} eggs={1}".format("blah", 2). Python 3.6 added "f-strings": spam = "blah"; eggs = 2; f'spam={spam} eggs={eggs}'.[110]
Strings in Python can be concatenated by "adding" them (with the same operator as for adding integers and floats), e.g. "spam" + "eggs" returns "spameggs". If strings contain numbers, they are added as strings rather than integers, e.g. "2" + "2" returns "22".
Python has various string literals:
Delimited by single or double quotes; unlike in Unix shells, Perl, and Perl-influenced languages, single and double quotes work the same. Both use the backslash (\) as an escape character. String interpolation became available in Python 3.6 as "formatted string literals".[110]
Triple-quoted (beginning and ending with three single or double quotes), which may span multiple lines and function like here documents in shells, Perl, and Ruby.
Raw string varieties, denoted by prefixing the string literal with r. Escape sequences are not interpreted; hence raw strings are useful where literal backslashes are common, such as regular expressions and Windows-style paths. (Compare "@-quoting" in C#.)
Python has array index and array slicing expressions in lists, denoted as a[key], a[start:stop] or a[start:stop:step]. Indexes are zero-based, and negative indexes are relative to the end. Slices take elements from the start index up to, but not including, the stop index. The third slice parameter, called step or stride, allows elements to be skipped and reversed. Slice indexes may be omitted—for example, a[:] returns a copy of the entire list. Each element of a slice is a shallow copy.
In Python, a distinction between expressions and statements is rigidly enforced, in contrast to languages such as Common Lisp, Scheme, or Ruby. This leads to duplicating some functionality. For example:

List comprehensions vs. for-loops
Conditional expressions vs. if blocks
The eval() vs. exec() built-in functions (in Python 2, exec is a statement); the former is for expressions, the latter is for statements
Statements cannot be a part of an expression—so list and other comprehensions or lambda expressions, all being expressions, cannot contain statements. A particular case is that an assignment statement such as a = 1 cannot form part of the conditional expression of a conditional statement.

Methods
Methods on objects are functions attached to the object's class; the syntax instance.method(argument) is, for normal methods and functions, syntactic sugar for Class.method(instance, argument). Python methods have an explicit self parameter to access instance data, in contrast to the implicit self (or this) in some other object-oriented programming languages (e.g., C++, Java, Objective-C, Ruby).[111] Python also provides methods, often called dunder methods (due to their names beginning and ending with double-underscores), to allow user-defined classes to modify how they are handled by native operations including length, comparison, in arithmetic operations and type conversion.[112]

Typing
Python uses duck typing and has typed objects but untyped variable names. Type constraints are not checked at compile time; rather, operations on an object may fail, signifying that it is not of a suitable type. Despite being dynamically typed, Python is strongly typed, forbidding operations that are not well-defined (for example, adding a number to a string) rather than silently attempting to make sense of them.

Python allows programmers to define their own types using classes, most often used for object-oriented programming. New instances of classes are constructed by calling the class (for example, SpamClass() or EggsClass()), and the classes are instances of the metaclass type (itself an instance of itself), allowing metaprogramming and reflection.

Before version 3.0, Python had two kinds of classes (both using the same syntax): old-style and new-style;[113] current Python versions only support the semantics of the new style.

Python supports optional type annotations.[4][114] These annotations are not enforced by the language, but may be used by external tools such as mypy to catch errors.[115][116] Mypy also supports a Python compiler called mypyc, which leverages type annotations for optimization.[117]

Summary of Python 3's built-in types
Arithmetic operations
Python has the usual symbols for arithmetic operators (+, -, *, /), the floor division operator // and the modulo operation % (where the remainder can be negative, e.g. 4 % -3 == -2). It also has ** for exponentiation, e.g. 5**3 == 125 and 9**0.5 == 3.0, and a matrix‑multiplication operator @ .[121] These operators work like in traditional math; with the same precedence rules, the operators infix (+ and - can also be unary to represent positive and negative numbers respectively).

The division between integers produces floating-point results. The behavior of division has changed significantly over time:[122]

Current Python (i.e. since 3.0) changed / to always be floating-point division, e.g. 5/2 == 2.5.
The floor division // operator was introduced. So 7//3 == 2, -7//3 == -3, 7.5//3 == 2.0 and -7.5//3 == -3.0. Adding from __future__ import division causes a module used in Python 2.7 to use Python 3.0 rules for division (see above).
In Python terms, / is true division (or simply division), and // is floor division. / before version 3.0 is classic division.[122]

Rounding towards negative infinity, though different from most languages, adds consistency. For instance, it means that the equation (a + b)//b == a//b + 1 is always true. It also means that the equation b*(a//b) + a%b == a is valid for both positive and negative values of a. However, maintaining the validity of this equation means that while the result of a%b is, as expected, in the half-open interval [0, b), where b is a positive integer, it has to lie in the interval (b, 0] when b is negative.[123]

Python provides a round function for rounding a float to the nearest integer. For tie-breaking, Python 3 uses round to even: round(1.5) and round(2.5) both produce 2.[124] Versions before 3 used round-away-from-zero: round(0.5) is 1.0, round(-0.5) is −1.0.[125]

Python allows Boolean expressions with multiple equality relations in a manner that is consistent with general use in mathematics. For example, the expression a < b < c tests whether a is less than b and b is less than c.[126] C-derived languages interpret this expression differently: in C, the expression would first evaluate a < b, resulting in 0 or 1, and that result would then be compared with c.[127]

Python uses arbitrary-precision arithmetic for all integer operations. The Decimal type/class in the decimal module provides decimal floating-point numbers to a pre-defined arbitrary precision and several rounding modes.[128] The Fraction class in the fractions module provides arbitrary precision for rational numbers.[129]

Due to Python's extensive mathematics library, and the third-party library NumPy that further extends the native capabilities, it is frequently used as a scientific scripting language to aid in problems such as numerical data processing and manipulation.[130][131]
Python's large standard library[132] provides tools suited to many tasks and is commonly cited as one of its greatest strengths. For Internet-facing applications, many standard formats and protocols such as MIME and HTTP are supported. It includes modules for creating graphical user interfaces, connecting to relational databases, generating pseudorandom numbers, arithmetic with arbitrary-precision decimals,[128] manipulating regular expressions, and unit testing.

Some parts of the standard library are covered by specifications—for example, the Web Server Gateway Interface (WSGI) implementation wsgiref follows PEP 333[133]—but most are specified by their code, internal documentation, and test suites. However, because most of the standard library is cross-platform Python code, only a few modules need altering or rewriting for variant implementations.

As of 17 March 2024, the Python Package Index (PyPI), the official repository for third-party Python software, contains over 523,000[134] packages with a wide range of functionality, including:

Automation
Data analytics
Databases
Documentation
Graphical user interfaces
Image processing
Machine learning
Mobile apps
Multimedia
Computer networking
Scientific computing
System administration
Test frameworks
Text processing
Web frameworks
Web scraping
Development environments
See also: Comparison of integrated development environments § Python
Most Python implementations (including CPython) include a read–eval–print loop (REPL), permitting them to function as a command line interpreter for which users enter statements sequentially and receive results immediately.

Python also comes with an Integrated development environment (IDE) called IDLE, which is more beginner-oriented.

Other shells, including IDLE and IPython, add further abilities such as improved auto-completion, session state retention, and syntax highlighting.

As well as standard desktop integrated development environments including PyCharm, IntelliJ Idea, Visual Studio Code etc, there are web browser-based IDEs, including SageMath, for developing science- and math-related programs; PythonAnywhere, a browser-based IDE and hosting environment; and Canopy IDE, a commercial IDE emphasizing scientific computing.[135]

Implementations
See also: List of Python software § Python implementations
Reference implementation
CPython is the reference implementation of Python. It is written in C, meeting the C89 standard (Python 3.11 uses C11[136]) with several select C99 features. CPython includes its own C extensions, but third-party extensions are not limited to older C versions—e.g. they can be implemented with C11 or C++.[137][138] CPython compiles Python programs into an intermediate bytecode[139] which is then executed by its virtual machine.[140] CPython is distributed with a large standard library written in a mixture of C and native Python, and is available for many platforms, including Windows (starting with Python 3.9, the Python installer deliberately fails to install on Windows 7 and 8;[141][142] Windows XP was supported until Python 3.5) and most modern Unix-like systems, including macOS (and Apple M1 Macs, since Python 3.9.1, with experimental installer), with unofficial support for VMS.[143] Platform portability was one of its earliest priorities.[144] (During Python 1 and 2 development, even OS/2 and Solaris were supported,[145] but support has since been dropped for many platforms.)

All current Python versions (i.e. since 3.7) only support operating systems with multi-threading support.

Other implementations
All alternative implementations have at least slightly different semantics (e.g. may have unordered dictionaries, unlike all current Python versions), e.g. with the larger Python ecosystem, such as with supporting the C Python API of with PyPy:

PyPy is a fast, compliant interpreter of Python 2.7 and 3.10.[146][147] Its just-in-time compiler often brings a significant speed improvement over CPython, but some libraries written in C cannot be used with it.[148] It has e.g. RISC-V support.
Codon is a language with an ahead-of-time (AOT) compiler, that (AOT) compiles a statically-typed Python-like language with "syntax and semantics are nearly identical to Python's, there are some notable differences"[149] e.g. it uses 64-bit machine integers, for speed, not arbitrary like Python, and it claims speedups over CPython are usually on the order of 10–100x. It compiles to machine code (via LLVM) and supports native multithreading.[150] Codon can also compile to Python extension modules that can be imported and used from Python.
Stackless Python is a significant fork of CPython that implements microthreads; it does not use the call stack in the same way, thus allowing massively concurrent programs. PyPy also has a stackless version.[151]
MicroPython and CircuitPython are Python 3 variants optimized for microcontrollers, including Lego Mindstorms EV3.[152]
Pyston is a variant of the Python runtime that uses just-in-time compilation to speed up the execution of Python programs.[153]
Cinder is a performance-oriented fork of CPython 3.8 that contains a number of optimizations, including bytecode inline caching, eager evaluation of coroutines, a method-at-a-time JIT, and an experimental bytecode compiler.[154]
Snek[155][156][157] Embedded Computing Language (compatible with e.g. 8-bit AVR microcontrollers such as ATmega 328P-based Arduino, as well as larger ones compatible with MicroPython) "is Python-inspired, but it is not Python. It is possible to write Snek programs that run under a full Python system, but most Python programs will not run under Snek."[158] It is an imperative language not including OOP / classes, unlike Python, and simplifying to one number type with 32-bit single-precision (similar to JavaScript, except smaller).
No longer supported implementations
Other just-in-time Python compilers have been developed, but are now unsupported:

Google began a project named Unladen Swallow in 2009, with the aim of speeding up the Python interpreter five-fold by using the LLVM, and of improving its multithreading ability to scale to thousands of cores,[159] while ordinary implementations suffer from the global interpreter lock.
Psyco is a discontinued just-in-time specializing compiler that integrates with CPython and transforms bytecode to machine code at runtime. The emitted code is specialized for certain data types and is faster than the standard Python code. Psyco does not support Python 2.7 or later.
PyS60 was a Python 2 interpreter for Series 60 mobile phones released by Nokia in 2005. It implemented many of the modules from the standard library and some additional modules for integrating with the Symbian operating system. The Nokia N900 also supports Python with GTK widget libraries, enabling programs to be written and run on the target device.[160]
Cross-compilers to other languages
There are several compilers/transpilers to high-level object languages, with either unrestricted Python, a restricted subset of Python, or a language similar to Python as the source language:

Brython,[161] Transcrypt[162][163] and Pyjs (latest release in 2012) compile Python to JavaScript.
Cython compiles (a superset of) Python to C. The resulting code is also usable with Python via direct C-level API calls into the Python interpreter.
PyJL compiles/transpiles a subset of Python to "human-readable, maintainable, and high-performance Julia source code".[88] Despite claiming high performance, no tool can claim to do that for arbitrary Python code; i.e. it's known not possible to compile to a faster language or machine code. Unless semantics of Python are changed, but in many cases speedup is possible with few or no changes in the Python code. The faster Julia source code can then be used from Python, or compiled to machine code, and based that way.
Nuitka compiles Python into C.[164] It works with Python 3.4 to 3.12 (and 2.6 and 2.7), for Python's main supported platforms (and Windows 7 or even Windows XP) and for Android. It claims complete support for Python 3.10, some support for 3.11 and 3.12 and experimental support for Python 3.13. It supports macOS including Apple Silicon-based. It's a free compiler, though it also has commercial add-ons (e.g. for hiding source code).
Numba is used from Python, as a tool (enabled by adding a decorator to relevant Python code), a JIT compiler that translates a subset of Python and NumPy code into fast machine code.
Pythran compiles a subset of Python 3 to C++ (C++11).[165]
RPython can be compiled to C, and is used to build the PyPy interpreter of Python.
The Python → 11l → C++ transpiler[166] compiles a subset of Python 3 to C++ (C++17).
Specialized:

MyHDL is a Python-based hardware description language (HDL), that converts MyHDL code to Verilog or VHDL code.
Older projects (or not to be used with Python 3.x and latest syntax):

Google's Grumpy (latest release in 2017) transpiles Python 2 to Go.[167][168][169]
IronPython allows running Python 2.7 programs (and an alpha, released in 2021, is also available for "Python 3.4, although features and behaviors from later versions may be included"[170]) on the .NET Common Language Runtime.[171]
Jython compiles Python 2.7 to Java bytecode, allowing the use of the Java libraries from a Python program.[172]
Pyrex (latest release in 2010) and Shed Skin (latest release in 2013) compile to C and C++ respectively.
Performance
Performance comparison of various Python implementations on a non-numerical (combinatorial) workload was presented at EuroSciPy '13.[173] Python's performance compared to other programming languages is also benchmarked by The Computer Language Benchmarks Game.[174]

Development
Python's development is conducted largely through the Python Enhancement Proposal (PEP) process, the primary mechanism for proposing major new features, collecting community input on issues, and documenting Python design decisions.[175] Python coding style is covered in PEP 8.[176] Outstanding PEPs are reviewed and commented on by the Python community and the steering council.[175]

Enhancement of the language corresponds with the development of the CPython reference implementation. The mailing list python-dev is the primary forum for the language's development. Specific issues were originally discussed in the Roundup bug tracker hosted at by the foundation.[177] In 2022, all issues and discussions were migrated to GitHub.[178] Development originally took place on a self-hosted source-code repository running Mercurial, until Python moved to GitHub in January 2017.[179]

CPython's public releases come in three types, distinguished by which part of the version number is incremented:

Backward-incompatible versions, where code is expected to break and needs to be manually ported. The first part of the version number is incremented. These releases happen infrequently—version 3.0 was released 8 years after 2.0. According to Guido van Rossum, a version 4.0 is very unlikely to ever happen.[180]
Major or "feature" releases are largely compatible with the previous version but introduce new features. The second part of the version number is incremented. Starting with Python 3.9, these releases are expected to happen annually.[181][182] Each major version is supported by bug fixes for several years after its release.[183]
Bugfix releases,[184] which introduce no new features, occur about every 3 months and are made when a sufficient number of bugs have been fixed upstream since the last release. Security vulnerabilities are also patched in these releases. The third and final part of the version number is incremented.[184]
Many alpha, beta, and release-candidates are also released as previews and for testing before final releases. Although there is a rough schedule for each release, they are often delayed if the code is not ready. Python's development team monitors the state of the code by running the large unit test suite during development.[185]

The major academic conference on Python is PyCon. There are also special Python mentoring programs, such as PyLadies.

Python 3.12 removed wstr meaning Python extensions[186] need to be modified,[187] and 3.10 added pattern matching to the language.[188]

Python 3.12 dropped some outdated modules, and more will be dropped in the future, deprecated as of 3.13; already deprecated array 'u' format code will emit DeprecationWarning since 3.13 and will be removed in Python 3.16. The 'w' format code should be used instead. Part of ctypes is also deprecated and http.server.CGIHTTPRequestHandler will emit a DeprecationWarning, and will be removed in 3.15. Using that code already has a high potential for both security and functionality bugs. Parts of the typing module are deprecated, e.g. creating a typing.NamedTuple class using keyword arguments to denote the fields and such (and more) will be disallowed in Python 3.15.

API documentation generators
Tools that can generate documentation for Python API include pydoc (available as part of the standard library), Sphinx, Pdoc and its forks, Doxygen and Graphviz, among others.[189]

Naming
Python's name is derived from the British comedy group Monty Python, whom Python creator Guido van Rossum enjoyed while developing the language. Monty Python references appear frequently in Python code and culture;[190] for example, the metasyntactic variables often used in Python literature are spam and eggs instead of the traditional foo and bar.[190][191] The official Python documentation also contains various references to Monty Python routines.[192][193] Users of Python are sometimes referred to as "Pythonistas".[194]

The prefix Py- is used to show that something is related to Python. Examples of the use of this prefix in names of Python applications or libraries include Pygame, a binding of Simple DirectMedia Layer to Python (commonly used to create games); PyQt and PyGTK, which bind Qt and GTK to Python respectively; and PyPy, a Python implementation originally written in Python.

Popularity
Since 2003, Python has consistently ranked in the top ten most popular programming languages in the TIOBE Programming Community Index where as of December 2022 it was the most popular language (ahead of C, C++, and Java).[39] It was selected as Programming Language of the Year (for "the highest rise in ratings in a year") in 2007, 2010, 2018, and 2020 (the only language to have done so four times as of 2020[195]).

Large organizations that use Python include Wikipedia, Google,[196] Yahoo!,[197] CERN,[198] NASA,[199] Facebook,[200] Amazon, Instagram,[201] Spotify,[202] and some smaller entities like Industrial Light & Magic[203] and ITA.[204] The social news networking site Reddit was written mostly in Python.[205] Organizations that partially use Python include Discord[206] and Baidu.[207]

Python can serve as a scripting language for web applications, e.g. via mod_wsgi for the Apache webserver.[208] With Web Server Gateway Interface, a standard API has evolved to facilitate these applications. Web frameworks like Django, Pylons, Pyramid, TurboGears, web2py, Tornado, Flask, Bottle, and Zope support developers in the design and maintenance of complex applications. Pyjs and IronPython can be used to develop the client-side of Ajax-based applications. SQLAlchemy can be used as a data mapper to a relational database. Twisted is a framework to program communications between computers, and is used (for example) by Dropbox.

Libraries such as NumPy, SciPy and Matplotlib allow the effective use of Python in scientific computing,[209][210] with specialized libraries such as Biopython and Astropy providing domain-specific functionality. SageMath is a computer algebra system with a notebook interface programmable in Python: its library covers many aspects of mathematics, including algebra, combinatorics, numerical mathematics, number theory, and calculus.[211] OpenCV has Python bindings with a rich set of features for computer vision and image processing.[212]

Python is commonly used in artificial intelligence projects and machine learning projects with the help of libraries like TensorFlow, Keras, Pytorch, scikit-learn and the Logic language ProbLog.[213][214][215][216][217] As a scripting language with a modular architecture, simple syntax, and rich text processing tools, Python is often used for natural language processing.[218]

The combination of Python and Prolog has proved to be particularly useful for AI applications, with Prolog providing knowledge representation and reasoning capabilities. The Janus system, in particular, exploits the similarities between these two languages, in part because of their use of dynamic typing, and the simple recursive nature of their data structures. Typical applications of this combination include natural language processing, visual query answering, geospatial reasoning, and handling of semantic web data.[219][220] The Natlog system, implemented in Python, uses Definite Clause Grammars (DCGs) as prompt generators for text-to-text generators like GPT3 and text-to-image generators like DALL-E or Stable Diffusion.[221]

Python can also be used for graphical user interface (GUI) by using libraries like Tkinter.[222][223]

Python has been successfully embedded in many software products as a scripting language, including in finite element method software such as Abaqus, 3D parametric modelers like FreeCAD, 3D animation packages such as 3ds Max, Blender, Cinema 4D, Lightwave, Houdini, Maya, modo, MotionBuilder, Softimage, the visual effects compositor Nuke, 2D imaging programs like GIMP,[224] Inkscape, Scribus and Paint Shop Pro,[225] and musical notation programs like scorewriter and capella. GNU Debugger uses Python as a pretty printer to show complex structures such as C++ containers. Esri promotes Python as the best choice for writing scripts in ArcGIS.[226] It has also been used in several video games,[227][228] and has been adopted as first of the three available programming languages in Google App Engine, the other two being Java and Go.[229]

Many operating systems include Python as a standard component. It ships with most Linux distributions,[230] AmigaOS 4 (using Python 2.7), FreeBSD (as a package), NetBSD, and OpenBSD (as a package) and can be used from the command line (terminal). Many Linux distributions use installers written in Python: Ubuntu uses the Ubiquity installer, while Red Hat Linux and Fedora Linux use the Anaconda installer. Gentoo Linux uses Python in its package management system, Portage.

Python is used extensively in the information security industry, including in exploit development.[231][232]

Most of the Sugar software for the One Laptop per Child XO, developed at Sugar Labs as of 2008, is written in Python.[233] The Raspberry Pi single-board computer project has adopted Python as its main user-programming language.

LibreOffice includes Python and intends to replace Java with Python. Its Python Scripting Provider is a core feature[234] since Version 4.0 from 7 February 2013.

Languages influenced by Python
Python's design and philosophy have influenced many other programming languages:

Boo uses indentation, a similar syntax, and a similar object model.[235]
Cobra uses indentation and a similar syntax, and its Acknowledgements document lists Python first among languages that influenced it.[236]
CoffeeScript, a programming language that cross-compiles to JavaScript, has Python-inspired syntax.
ECMAScript–JavaScript borrowed iterators and generators from Python.[237]
GDScript, a scripting language very similar to Python, built-in to the Godot game engine.[238]
Go is designed for the "speed of working in a dynamic language like Python"[239] and shares the same syntax for slicing arrays.
Groovy was motivated by the desire to bring the Python design philosophy to Java.[240]
Julia was designed to be "as usable for general programming as Python".[27]
Mojo is a non-strict[28][241] superset of Python (e.g. still missing classes, and adding e.g. struct).[242]
Nim uses indentation and similar syntax.[243]
Ruby's creator, Yukihiro Matsumoto, has said: "I wanted a scripting language that was more powerful than Perl, and more object-oriented than Python. That's why I decided to design my own language."[244]
Swift, a programming language developed by Apple, has some Python-inspired syntax.[245]
Kotlin blends Python and Java features, minimizing boilerplate code for enhanced developer efficiency.[246]
Python's development practices have also been emulated by other languages. For example, the practice of requiring a document describing the rationale for, and issues surrounding, a change to the language (in Python, a PEP) is also used in Tcl,[247] Erlang,[248] and Swift.[249]
"""

In [53]:
python_Wikip_List = python_Wikip
x = python_Wikip_List.count("pyhton")
y = python_Wikip_List.count("Python")
print(x+y)

287

# Session 7

### If & else

In [54]:
if True:
    print("Salam")

Salam

In [55]:
if False:
    print("Salam")

In [56]:
if 3:
    print("Salam")

Salam

In [57]:
if 0:
    print("Salam")

In [58]:
if "":
    print("Salam")

In [59]:
if "Fazel":
    print("Salam")

Salam

In [60]:
myName = input ("Please Enter Your Name:")
if len(myName)>= 5:
    print ("long name")
else:
    print("short name")

Please Enter Your Name: Mahin

long name

In [61]:
myName = input ("Please Enter Your Name:")
if len(myName)>= 5:
    print ("long name")
else:
    print("short name")

Please Enter Your Name: Mahsa

long name

In [62]:
inputName =""

In [63]:
inputName = input ("Plz Enter Your Name:")
if len(inputName)> 5:
    print("What a long name")
elif 3<len(inputName)<5:
    print("What a mid name")
else:
    print("What a short name")

Plz Enter Your Name: Saeed

What a short name

In [64]:
inputName = input ("Plz Enter Your Name:")
if len(inputName)> 5:
    print("What a long name")
elif 3<=len(inputName)<=8:
    print("What a mid name")
else:
    print("What a short name")

Plz Enter Your Name: Fazel

What a mid name

In [65]:
inputName = input ("Plz Enter Your Name:")
if len(inputName)> 5:
    print("What a long name")
elif 3<=len(inputName)<=8:
    print("What a mid name")
else:
    print("What a short name")

Plz Enter Your Name: Alireza

What a long name

In [66]:
inputAge = 25           # or inputAge = int(input("Enter ur age"))
if inputAge > 20:
    if inputAge % 2:
        print ("odd and more than 20")
    else:
        print ("even and more than 20")
else:
    if inputAge % 2:
        print ("odd and less than 20")
    else:
        print ("even and less than 20")

odd and more than 20

In [67]:
age = 19

if age>20:
    if age %2 ==0 :
        print("even and more than 20")
    else :
        print("odd and more than 20")
else:
    if age %2==0 :
        print("even and less than 20")
    else :
        print("odd and less than 20")

odd and less than 20

### While loop

In [68]:
tempInt = 5
while tempInt > 0:
    print(tempInt)
    tempInt -= 1

5
4
3
2
1

In [69]:
tempInt = 5
while tempInt > 0:
    print(tempInt)
    tempInt = tempInt - 1 # faster than previous line

5
4
3
2
1

### FIBONACCI < 100

In [70]:
n = 10
n1 = 0
n2 = 1
nextNumber = n2  
count = 1

while count <= n:
    print(nextNumber, end=" ")
    count += 1
    n1, n2 = n2, nextNumber
    nextNumber = n1 + n2
print()

1 2 3 5 8 13 21 34 55 89

In [71]:
n1 = 0
n2 = 1
n3 = 1
while n3 <= 100:
    print(n3)
    n3 = n2 + n1
    n1 = n2
    n2 = n3

1
1
2
3
5
8
13
21
34
55
89

In [72]:
fib_sequence = [0, 1]
while fib_sequence[-1] + fib_sequence[-2] < 100:
    fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
print(fib_sequence)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

# Session 8
### Prime and not prime numbers

In [73]:
p = 17
tempP = 2
ayaAvalast = True
while tempP < p:
    if p % tempP ==0:
        ayaAvalast = False
        break
    tempP += 1
if ayaAvalast:
    print("Prime")
else:
    print("not Prime")

Prime

In [74]:
p = 18
tempP = 2
ayaAvalast = True
while tempP < p:
    if p % tempP ==0:
        ayaAvalast = False
        break
    tempP += 1
if ayaAvalast:
    print("Prime")
else:
    print("not Prime")

not Prime

# Session 9

### For Loop

In [75]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [76]:
sum = 0
for i in range(5):
    sum += i
    print(sum)

0
1
3
6
10

In [77]:
sum = 0
for i in range(5):
    sum+= i
    print('i='+str(i)+',sum='+str(sum))
print('end')

i=0,sum=0
i=1,sum=1
i=2,sum=3
i=3,sum=6
i=4,sum=10
end

In [78]:
n = 10
for i in range(1,n+1):
    n *= i
print(n)

36288000

In [79]:
n = 10
fact = 1
for i in range(n):
    fact = fact*(i+1)
print(fact)

3628800

### Range

In [80]:
for i in range(5):
    print(i)
print("\n")
for i in range(2, 7):
    print(i)
print("\n")
for i in range(2, 7, 2):
    print(i)

0
1
2
3
4


2
3
4
5
6


2
4
6

In [81]:
for i in range(1,26):
    if i%3 == 0:
        print("!! HOP !!")
    else:
        print(i)

1
2
!! HOP !!
4
5
!! HOP !!
7
8
!! HOP !!
10
11
!! HOP !!
13
14
!! HOP !!
16
17
!! HOP !!
19
20
!! HOP !!
22
23
!! HOP !!
25

# Session 10

#### List

In [82]:
temp_list = [25, "Fazel", 4.9]
print(len(temp_list))

3

In [83]:
len(temp_list[1])

5

In [84]:
temp_list[1][3]

'e'

In [85]:
temp_list[:-1]

[25, 'Fazel']

In [86]:
temp_list[1:]

['Fazel', 4.9]

In [87]:
print(int("24"))
print(str(13))
print(int(1.8))
print(str(temp_list))
print(type(temp_list))

24
13
1
[25, 'Fazel', 4.9]
<class 'list'>

In [88]:
print(temp_list[:-1])
temp_list = temp_list + [2, "Programming", 2.71]
print(temp_list)
temp_list.append("Bam")
print(temp_list)

[25, 'Fazel']
[25, 'Fazel', 4.9, 2, 'Programming', 2.71]
[25, 'Fazel', 4.9, 2, 'Programming', 2.71, 'Bam']

In [89]:
print(temp_list.pop(1))
print(temp_list)

Fazel
[25, 4.9, 2, 'Programming', 2.71, 'Bam']

In [90]:
ages = [25, 23, 26, 45, 35, 30]
ages.sort()
print(ages)

ages = [7, 4, 17.5, 19.02]
ages.sort()
print(ages)

ages = ["f", "b", "B", "L", "p"]
ages.sort()
print(ages)

[23, 25, 26, 30, 35, 45]
[4, 7, 17.5, 19.02]
['B', 'L', 'b', 'f', 'p']

In [91]:
ages = ["f", "b", "B", "L", "p", "4", "2", "%"]
ages.sort()
print(ages)

['%', '2', '4', 'B', 'L', 'b', 'f', 'p']

### Nesting :

In [92]:
nested_array = [[1,2,3],[4,5,6],[7,8,9]]
nested_array

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [93]:
nested_array = [[1,2,3],[4,5,6],[7,8,9]]
print(nested_array[1][2])

6

In [94]:
my_grades = [18,17,12,20,19]
for i in my_grades:
    print(i)

18
17
12
20
19

In [95]:
my_courses = ['Physics', 'AP', 'Politics', 'Theory']

### Q. Print courses that you passed in the decending order

In [96]:
my_grades = [18, 19, 17, 9.9]
my_courses = ['Physics', 'AP', 'Politics', 'Theory']
for i in range(len(my_grades)):
    if my_grades[i] >= 10:
        print(my_courses[i],'=',my_grades[i])

Physics = 18
AP = 19
Politics = 17

In [97]:
for i in range(len(my_grades)):
    print(my_courses[i]+'='+str(my_grades[i]))

Physics=18
AP=19
Politics=17
Theory=9.9

### Floor & ceiling function

In [98]:
pi = 3.14
int(pi)

3

In [99]:
e = 2.7
int(e)

2

# Session 11

### Dictionary:

In [100]:
myProfile = {'firstName':'Fazel','lastName':'Basiri'}
print(myProfile['firstName'])

Fazel

In [101]:
myProfile1 = {'Name': myProfile , 'Age':25}
print(myProfile1['Name'])

{'firstName': 'Fazel', 'lastName': 'Basiri'}

In [102]:
print(myProfile1['Name']['firstName'])

Fazel

In [103]:
Cities = ['Bam', 'Kish' , 'Shiraz']
myProfile1['Cities'] = Cities
myProfile1

{'Name': {'firstName': 'Fazel', 'lastName': 'Basiri'},
 'Age': 25,
 'Cities': ['Bam', 'Kish', 'Shiraz']}

In [104]:
len(myProfile1['Cities'])

3

In [105]:
myProfile1['Cities'][-1]

'Shiraz'

In [106]:
myProfile1['Friends'] = [
                          {'firstName': ' Mahsa' , 'lastName': 'Kzn', 'Age': 23 , 'Id':0},
                          {'firstName': ' Saeed' , 'lastName': 'Ashrafian', 'Age': 25 , 'Id':1},
                          {'firstName': ' Alireza' , 'lastName': 'Pourmoghadam', 'Age': 26 , 'Id':2}]

In [107]:
myProfile1['Friends'].append({'firstName': 'Armin' , 'lastName': 'Asadi', 'Age': 24 , 'Id':'3'})
myProfile1

{'Name': {'firstName': 'Fazel', 'lastName': 'Basiri'},
 'Age': 25,
 'Cities': ['Bam', 'Kish', 'Shiraz'],
 'Friends': [{'firstName': ' Mahsa', 'lastName': 'Kzn', 'Age': 23, 'Id': 0},
  {'firstName': ' Saeed', 'lastName': 'Ashrafian', 'Age': 25, 'Id': 1},
  {'firstName': ' Alireza', 'lastName': 'Pourmoghadam', 'Age': 26, 'Id': 2},
  {'firstName': 'Armin', 'lastName': 'Asadi', 'Age': 24, 'Id': '3'}]}

### Q print name of oldest friend and average age of your friends

In [108]:
def OldestAverageFriend(my_profile1):
    Max_Age = 0
    Max_Friend = 0
    Sum_Age = 0
    for i in my_profile1["Friends"]:
        Sum_Age += i["Age"]
        if i["Age"] > Max_Age:
            Max_Age = i["Age"]
            Max_Friend = i
    Average_Age = Sum_Age / len(my_profile1["Friends"])
    return [Max_Friend,Average_Age ]

In [109]:
oldest_friend = OldestAverageFriend(myProfile1)[0]
print(oldest_friend["firstName"])
average_age_of_friend = OldestAverageFriend(myProfile1)[1]
print(average_age_of_friend)
output = OldestAverageFriend(myProfile1)
print(output)

 Alireza
24.5
[{'firstName': ' Alireza', 'lastName': 'Pourmoghadam', 'Age': 26, 'Id': 2}, 24.5]

In [110]:
ages = []
for i in range(len(myProfile1["Friends"])):
    ages.append(myProfile1["Friends"][i]["Age"])
print("My oldest friend is:", myProfile1["Friends"][ages.index(max(ages))]["firstName"], myProfile1["Friends"][ages.index(max(ages))]["lastName"])
average = 0
for age in ages:
    average += age
print("The average of my friends age is:", average//len(ages))

My oldest friend is:  Alireza Pourmoghadam
The average of my friends age is: 24

# Session 12

In [111]:
myProfile1.keys()

dict_keys(['Name', 'Age', 'Cities', 'Friends'])

In [112]:
myProfile1.values()

dict_values([{'firstName': 'Fazel', 'lastName': 'Basiri'}, 25, ['Bam', 'Kish', 'Shiraz'], [{'firstName': ' Mahsa', 'lastName': 'Kzn', 'Age': 23, 'Id': 0}, {'firstName': ' Saeed', 'lastName': 'Ashrafian', 'Age': 25, 'Id': 1}, {'firstName': ' Alireza', 'lastName': 'Pourmoghadam', 'Age': 26, 'Id': 2}, {'firstName': 'Armin', 'lastName': 'Asadi', 'Age': 24, 'Id': '3'}]])

In [113]:
if "Age" in myProfile1.keys():
    print("Age is listed")
    
else:
    print("Add age to the list")

Age is listed

In [114]:
if "Age" in myProfile1.keys():
    if myProfile1["Age"]>=18:
        print("It is ok")
else:
    print("Add age")

It is ok

## Files :

In [115]:
tempFile = open("myTextFile.txt", "w")
tempFile.write(str(myProfile1))
tempFile.close()

In [116]:
print(tempFile)

<_io.TextIOWrapper name='myTextFile.txt' mode='w' encoding='cp1252'>

In [117]:
amir_file = open("amir_profile.txt" , "r")
amir_profile = amir_file.read()
amir_file.close()

In [118]:
print(amir_profile)

{'name': {'firstName': 'Amirhoshang', 'lastName': 'Hoseinpour Dehkordi'}, 'age': 34, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'farhadFriends': {'bestFriend': {'firstName': 'Philip', 'lastName': 'Fry', 'age': 35, 'id': 0}, 'lastButNotLeastFriend': {'firstName': 'Bender', 'lastName': 'Bending Rodrï¿½guez', 'age': 4, 'id': 1}, 0: {'firstName': 'Bender1', 'lastName': 'Bending Rodrï¿½guez', 'age': 4, 'id': 1}, 1: {'firstName': 'Bender2', 'lastName': 'Bending Rodrï¿½guez', 'age': 4, 'id': 1}, 2: {'firstName': 'Bender3', 'lastName': 'Bending Rodrï¿½guez', 'age': 4, 'id': 1}}, 'friends': [{'firstName': 'Philip', 'lastName': 'Fry', 'age': 35, 'id': 0}, {'firstName': 'Bender', 'lastName': 'Bending Rodrï¿½guez', 'age': 4, 'id': 1}, {'firstName': 'Amy', 'lastName': 'Wong', 'age': 30, 'id': 2}]}

# Session 13

### Functions :

In [119]:
print(len("Fazel"))

5

In [120]:
def FunctionName(myInput):
    #print(myInput)
    return myInput*2

In [121]:
myFunctionValue = FunctionName("Fazel")
myFunctionValue

'FazelFazel'

### Fibonacci :

In [122]:
def fibo(n):
    if n == 1:
        return 0
    elif n == 2 or n == 3:
        return 1
    if n>3:
        return(fibo(n-1)+fibo(n-2))

print(fibo(1))
print(fibo(2))
print(fibo(3))
print(fibo(4))
print(fibo(5))
print(fibo(6))
print(fibo(7))
print(fibo(8))
print(fibo(9))
fibo(18)

0
1
1
2
3
5
8
13
21

1597

In [123]:
n = 3
mult = 1
for i in range(n):
    mult = mult*2
a = mult
print(a)

8

In [124]:
def power2(n):
    mult = 1
    for i in range(n):
        mult = mult * 2
    return mult
print(mult)

8

In [125]:
def power_k(k,n):
    mult = 1
    for i in range(n):
        mult = mult*k
    return mult

In [126]:
power_k(4,5)

1024

# Q. Hop using function

In [127]:
def hop_p(p,n):
    if n % p == 0:
        return("Hop!")
    else:
        return(n)
print(hop_p(3,4))
print(hop_p(5,10))

4
Hop!

# Q. def swap(a,b) 4,3 = swap(3,4)

In [128]:
def swap(a,b):
    return b ,a
print(swap(3,4))

(4, 3)

# Session 14

### Data flow :

In [129]:
myId = 13
myProfile1["Id"] = myId
myProfile1

{'Name': {'firstName': 'Fazel', 'lastName': 'Basiri'},
 'Age': 25,
 'Cities': ['Bam', 'Kish', 'Shiraz'],
 'Friends': [{'firstName': ' Mahsa', 'lastName': 'Kzn', 'Age': 23, 'Id': 0},
  {'firstName': ' Saeed', 'lastName': 'Ashrafian', 'Age': 25, 'Id': 1},
  {'firstName': ' Alireza', 'lastName': 'Pourmoghadam', 'Age': 26, 'Id': 2},
  {'firstName': 'Armin', 'lastName': 'Asadi', 'Age': 24, 'Id': '3'}],
 'Id': 13}

In [130]:
tempFile = open(str(myProfile1["Id"])+".txt" , "w")
tempFile.write(str(myProfile1))
tempFile.close()
tempFile

In [131]:
profile_dict = {'Name': {'firstName': 'Fazel', 'lastName': 'Basiri'}, 'Age': 25, 'Cities': ['Bam', 'Kish', 'Shiraz'], 'Friends': [{'firstName': ' Mahsa', 'lastName': 'Kzn', 'Age': 23, 'Id': 0}, {'firstName': ' Saeed', 'lastName': 'Ashrafian', 'Age': 25, 'Id': 1}, {'firstName': ' Alireza', 'lastName': 'Pourmoghadam', 'Age': 26, 'Id': 2}, {'firstName': 'Armin', 'lastName': 'Asadi', 'Age': 24, 'Id': '3'}, {'firstName': 'Armin', 'lastName': 'Asadi', 'Age': 24, 'Id': '3'}], 'Id': 13}
profile_dict["id"] = 13
print(profile_dict)
name = str(profile_dict["id"])
temp_file = open(f"{name}.txt", "w")
temp_file.write(str(profile_dict))
temp_file.close()

{'Name': {'firstName': 'Fazel', 'lastName': 'Basiri'}, 'Age': 25, 'Cities': ['Bam', 'Kish', 'Shiraz'], 'Friends': [{'firstName': ' Mahsa', 'lastName': 'Kzn', 'Age': 23, 'Id': 0}, {'firstName': ' Saeed', 'lastName': 'Ashrafian', 'Age': 25, 'Id': 1}, {'firstName': ' Alireza', 'lastName': 'Pourmoghadam', 'Age': 26, 'Id': 2}, {'firstName': 'Armin', 'lastName': 'Asadi', 'Age': 24, 'Id': '3'}, {'firstName': 'Armin', 'lastName': 'Asadi', 'Age': 24, 'Id': '3'}], 'Id': 13, 'id': 13}

# Session 15

In [132]:
f=open("classmates/13.txt")
data= f.read()
f.close()
print(data)

{'name': {'firstName': 'Fazel', 'lastName': 'Basiri'}, 'age': 25, 'cities': ['Bam', 'Shiraz', 'Kish'], 'friends': [{'firstName': 'Saeed', 'lastName': 'Ashrafian', 'age': 25}, {'firstName': 'Mahsa', 'lastName': 'Kzn', 'age':22}, {'firstName': 'Alireza', 'lastName': 'PourMoghadam', 'age':26}], 'id': 13}

In [133]:
import glob
file_list = glob.glob('Classmates/*.txt')
for file_name in file_list:
    with open(file_name, 'r') as file:
        content = file.read()
        print(f"Contents of {file_name}:")
        print(content)
        print("\n")

Contents of Classmates\1 .txt:
{'name': {'first_name': 'Shayan', 'last_name': 'Shahvari'}, 'age': 20, 'cities': ['Tehran', 'Moscow', 'Kish'], 'friends': [{'first_name': 'Parsa', 'last_name': 'khaki', 'age': 30, 'id': 0}, {'first_name': 'Kiavash', 'last_name': 'abbasnejad', 'age': 37, 'id': 1}, {'first_name': 'Kourosh', 'last_name': 'ikani', 'age': 20}], 'id': 1}


Contents of Classmates\10.txt:
{'name': {'firstName': 'amir_ali', 'lastName': 'mohammadi'}, 'age': 22, 'id': 10, 'cities': ['Tehran', 'kish', 'kabul'], 'farhadFriends': {'bestFriend': {'firstName': 'ikkin', 'lastName': 'golabi', 'age': 2, 'id': 0}, 'lastButNotLeastFriend': {'firstName': 'hossein', 'lastName': 'hezarpa', 'age': 40, 'id': 1}, 0: {'firstName': 'pedram', 'lastName': 'shahraki', 'age': 13, 'id': 1}, 1: {'firstName': 'Bender2', 'lastName': 'Bending Rodríguez', 'age': 4, 'id': 1}, 2: {'firstName': 'shahrooz', 'lastName': 'shabpareh', 'age': 60, 'id': 1}}, 'friends': [{'firstName': 'kamran', 'lastName': 'Fry', 'age': 80, 'id': 0}, {'firstName': 'aligoodarz', 'lastName': 'baboli', 'age': 4, 'id': 1}, {'firstName': 'parham', 'lastName': 'Wong', 'age': 30, 'id': 2}]}


Contents of Classmates\11.txt:
{'name': {'first_name': 'Parsa', 'last_name': 'Mollaei'}, 'age': 22, 'my_id': 11, 'cities': ['tehran', 'esfehan', 'kerman'], 'friends': [{'first_name': 'ali', 'last_name': 'Barkhodari', 'age': 22, 'id': '2'}, {'first_name': 'AmirHossein', 'last_name': 'yousefzade', 'age': 22, 'id': 2}, {'first_name': 'Parnian', 'last_name': 'Mollaei', 'age': 13, 'id': 3}]}


Contents of Classmates\12.txt:
{'id': 12, 'name': 'Sina', 'age': 21, 'email': 'sina.sherkat@example.com', 'location': 'Kish'}


Contents of Classmates\13.txt:
{'name': {'firstName': 'Fazel', 'lastName': 'Basiri'}, 'age': 25, 'cities': ['Bam', 'Shiraz', 'Kish'], 'friends': [{'firstName': 'Saeed', 'lastName': 'Ashrafian', 'age': 25}, {'firstName': 'Mahsa', 'lastName': 'Kzn', 'age':22}, {'firstName': 'Alireza', 'lastName': 'PourMoghadam', 'age':26}], 'id': 13}


Contents of Classmates\14.txt:
{'name': {'first name': 'Mahsa', 'last name': 'kzn'}, 'age': 22, 'cities': ['Tehran', 'Shiraz', 'Rasht', 'Mashhad'], 'friends': [{'firstname': 'Fazel', 'Lastname': 'basiri', 'age': 25, 'id': 13}, {'firstname': 'Niayesh', 'lastname': 'Mohammadi', 'age': 22, 'id': 0}], 'id': 14}


Contents of Classmates\16.txt:
{'name': {'firstname': 'Hesam', 'lastName': 'Fatemizadeh'}, 'age': 21, 'cities': {'TEHRAN', 'KISH', 'ABADAN'}, 'friends': [{'firstname': 'mariam', 'lastname': 'shojaodin', 'age': 21, 'id': '100'}, {'firstname': 'abbas', 'lastname': 'ranjbar', 'age': 25, 'id': '101'}, {'firstname': 'ali', 'lastname': 'niazi', 'age': 23, 'id': 102}], 'id': 16}


Contents of Classmates\17.txt:
{'name': {'first name': 'Mariam', 'last name': 'Shojaedin'}, 'age': 21, 'cities': ['Kaluga', 'Moscow', 'Sochi'], 'friends': [{'firstName': 'Mahsa', 'lastName': 'Rastaghi', 'age': 22, 'ID': '0'}, {'firstName': 'Hesam', 'lastName': 'Fatemizade', 'age': 21, 'ID': '1'}, {'firstName': 'Nika', 'lastName': 'Sadidi', 'age': 22, 'ID': '2'}, {'firstName': 'Ali', 'lastName': 'Niazi', 'age': 23, 'ID': '3'}], 'ID': 17}


Contents of Classmates\18.txt:
{'Name': {'First name': 'Mahsa', 'Last name': 'Rastaghi'}, 'Age': 22, 'Cities': ['Kish', 'Shiraz', 'Tehran'], 'Friends': [{'first name': ' Mariam', 'Last name': 'Shojaedin', 'Age': 21, 'Id': 0}, {'first name': ' Nika', 'Last name': 'Sadidi', 'Age': 22, 'Id': 1}, {'first name': ' Hesam', 'Last name': 'Fatemi zadeh', 'Age': 21, 'Id': 2}, {'first name': 'Fatemeh', 'Last name': 'Sayyadi', 'Age': 22, 'Id': '3'}], 'Id': 18}


Contents of Classmates\19.txt:
{'name': 'Mobina Mohammadiuon', 'age': 21, 'id': 19, 'cities': ['Tehran', 'Boston', 'Shahrkord'], 'friends': [{'firstName': 'Elaheh', 'lastName': 'HosseinAbadi', 'age': 21, 'id': 0}, {'firstName': 'Nika', 'lastName': 'Sadidi', 'age': 22, 'id': 1}, {'firstName': 'Azin', 'lastName': 'Esfandiari', 'age': 25, 'id': 2}]}


Contents of Classmates\2.txt:
{'name': {'firstName': 'parsa', 'lastName': 'khaki'}, 'age': 19, 'cities': ['tehran', 'boston', 'mehran'], 'friends': [{'firstName': 'shayan', 'lastname': 'shahvari', 'age': 35, 'id': 0}, {'firstName': 'kiavash', 'lastName': 'abasnejad', 'age': 21, 'id': 1}, {'firstName': 'behrad', 'lastName': 'biniaz', 'age': 30, 'id': 2}], 'id': 2}


Contents of Classmates\4.txt:
{'name': {'firstName': 'Zahra', 'lastName': 'Akhlaghipoor'}, 'age': 22, 'cities': ['Kish'], 'friends': [{'firstName': 'Tima', 'LastName': 'Kalhori', 'age': 19, 'id': 0}, {'firstName': 'Nikki', 'LastName': 'Khayyat', 'age': 21, 'id': 1}], 'id': 4}


Contents of Classmates\5.txt:
{'firstName': 'Tima', 'lastName': 'Kalhori', 'age': 19, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'friends': [{'firstName': 'philip', 'lastName': 'fry', 'age': 35, 'id': 0}, {'firstName': 'zahra', 'lastName': 'akhlaghipoor', 'age': 22, 'id': 12}, {'firstName': 'leili', 'lastname': 'shabani', 'age': 27, 'id': 32}], 'id': 5}


Contents of Classmates\6.txt:
{'name': {'firstname': 'Nikki', 'lastname': 'Khayyat'}, 'age': 23, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'friends': [{'firstname': 'Charles', 'lastname': 'Lec', 'age': 27, 'ID': 0}, {'firstname': 'Franco', 'lastname': 'Colapinto', 'age': 21, 'ID': 0}, {'firstname': 'Lewis', 'lastname': 'Hamilton', 'age': 40, 'ID': 0}], 'Id': 6}


Contents of Classmates\7.txt:
{'name': {'firstname': 'Saba', 'surname': 'Sarlak'}, 'age': 20, 'cities': ['kl', 'iis', 'maha'], 'lastCity': ['kl'], 'friends': [{'firstname': 'elnaz', 'lastname': 'ahmad', 'age': 22, 'id': 0}, {'firstname': 'asal', 'lastname': 'sabaghzade', 'age': 26, 'id': 2}, {'firstname': 'setia', 'lastname': 'dehghan', 'id': 'bestfriend', 'age': 25}], 'id': 7}


Contents of Classmates\8.txt:
{'name': {'first name': 'Mohammad', 'last name': 'Mohammad Khaninezhad'}, 'age': 20, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'friends': [{'first name': 'Shahrad', 'last name': 'Shahraki', 'age': 21, 'id': 0}, {'first name': 'Hossein', 'last name': 'Dehghan', 'age': 22, 'id': 1}, {'first name': 'Erfan', 'last name': 'Kasef', 'age': 23, 'id': 2}], 'id': 8}


Contents of Classmates\9.txt:
{'name': {'first name': 'shahrad', 'last name': 'shahraki'}, 'age': 22, 'cities': ['birjand', 'khoosf', 'tabas'], 'friends': [{'first name': 'alireza', 'last name': 'balali', 'age': 7, 'id': 2}, {'first name': 'shahrokh', 'last name': 'shahmohammadi', 'age': 40, 'id': 7}, {'first name': 'saba', 'last name': 'samaani', 'age': 34, 'id': 5}], 'id': 9}

In [134]:
import os
List_of_files = os.listdir('C:\\Users\\Fazel\\Documents\\AP\\classmates')
print(List_of_files)

['1 .txt', '10.txt', '11.txt', '12.txt', '13.txt', '14.txt', '16.txt', '17.txt', '18.txt', '19.txt', '2.txt', '4.txt', '5.txt', '6.txt', '7.txt', '8.txt', '9.txt']

In [135]:
import os
ROOT_DIR = os.path.abspath(os.curdir)
print(ROOT_DIR)
List_of_files = os.listdir(ROOT_DIR+'/classmates')
print(List_of_files)

C:\Users\Fazel\Documents\AP
['1 .txt', '10.txt', '11.txt', '12.txt', '13.txt', '14.txt', '16.txt', '17.txt', '18.txt', '19.txt', '2.txt', '4.txt', '5.txt', '6.txt', '7.txt', '8.txt', '9.txt']

In [136]:
Classmates_Profile = []

for i in List_of_files:
    f = open('classmates/'+ i)
    temp_profile = f.read()
    Classmates_Profile.append(temp_profile)
    f.close()
Classmates_Profile

["{'name': {'first_name': 'Shayan', 'last_name': 'Shahvari'}, 'age': 20, 'cities': ['Tehran', 'Moscow', 'Kish'], 'friends': [{'first_name': 'Parsa', 'last_name': 'khaki', 'age': 30, 'id': 0}, {'first_name': 'Kiavash', 'last_name': 'abbasnejad', 'age': 37, 'id': 1}, {'first_name': 'Kourosh', 'last_name': 'ikani', 'age': 20}], 'id': 1}",
 "{'name': {'firstName': 'amir_ali', 'lastName': 'mohammadi'}, 'age': 22, 'id': 10, 'cities': ['Tehran', 'kish', 'kabul'], 'farhadFriends': {'bestFriend': {'firstName': 'ikkin', 'lastName': 'golabi', 'age': 2, 'id': 0}, 'lastButNotLeastFriend': {'firstName': 'hossein', 'lastName': 'hezarpa', 'age': 40, 'id': 1}, 0: {'firstName': 'pedram', 'lastName': 'shahraki', 'age': 13, 'id': 1}, 1: {'firstName': 'Bender2', 'lastName': 'Bending Rodríguez', 'age': 4, 'id': 1}, 2: {'firstName': 'shahrooz', 'lastName': 'shabpareh', 'age': 60, 'id': 1}}, 'friends': [{'firstName': 'kamran', 'lastName': 'Fry', 'age': 80, 'id': 0}, {'firstName': 'aligoodarz', 'lastName': 'baboli', 'age': 4, 'id': 1}, {'firstName': 'parham', 'lastName': 'Wong', 'age': 30, 'id': 2}]}",
 "{'name': {'first_name': 'Parsa', 'last_name': 'Mollaei'}, 'age': 22, 'my_id': 11, 'cities': ['tehran', 'esfehan', 'kerman'], 'friends': [{'first_name': 'ali', 'last_name': 'Barkhodari', 'age': 22, 'id': '2'}, {'first_name': 'AmirHossein', 'last_name': 'yousefzade', 'age': 22, 'id': 2}, {'first_name': 'Parnian', 'last_name': 'Mollaei', 'age': 13, 'id': 3}]}",
 "{'id': 12, 'name': 'Sina', 'age': 21, 'email': 'sina.sherkat@example.com', 'location': 'Kish'}",
 "{'name': {'firstName': 'Fazel', 'lastName': 'Basiri'}, 'age': 25, 'cities': ['Bam', 'Shiraz', 'Kish'], 'friends': [{'firstName': 'Saeed', 'lastName': 'Ashrafian', 'age': 25}, {'firstName': 'Mahsa', 'lastName': 'Kzn', 'age':22}, {'firstName': 'Alireza', 'lastName': 'PourMoghadam', 'age':26}], 'id': 13}",
 "{'name': {'first name': 'Mahsa', 'last name': 'kzn'}, 'age': 22, 'cities': ['Tehran', 'Shiraz', 'Rasht', 'Mashhad'], 'friends': [{'firstname': 'Fazel', 'Lastname': 'basiri', 'age': 25, 'id': 13}, {'firstname': 'Niayesh', 'lastname': 'Mohammadi', 'age': 22, 'id': 0}], 'id': 14}",
 "{'name': {'firstname': 'Hesam', 'lastName': 'Fatemizadeh'}, 'age': 21, 'cities': {'TEHRAN', 'KISH', 'ABADAN'}, 'friends': [{'firstname': 'mariam', 'lastname': 'shojaodin', 'age': 21, 'id': '100'}, {'firstname': 'abbas', 'lastname': 'ranjbar', 'age': 25, 'id': '101'}, {'firstname': 'ali', 'lastname': 'niazi', 'age': 23, 'id': 102}], 'id': 16}",
 "{'name': {'first name': 'Mariam', 'last name': 'Shojaedin'}, 'age': 21, 'cities': ['Kaluga', 'Moscow', 'Sochi'], 'friends': [{'firstName': 'Mahsa', 'lastName': 'Rastaghi', 'age': 22, 'ID': '0'}, {'firstName': 'Hesam', 'lastName': 'Fatemizade', 'age': 21, 'ID': '1'}, {'firstName': 'Nika', 'lastName': 'Sadidi', 'age': 22, 'ID': '2'}, {'firstName': 'Ali', 'lastName': 'Niazi', 'age': 23, 'ID': '3'}], 'ID': 17}",
 "{'Name': {'First name': 'Mahsa', 'Last name': 'Rastaghi'}, 'Age': 22, 'Cities': ['Kish', 'Shiraz', 'Tehran'], 'Friends': [{'first name': ' Mariam', 'Last name': 'Shojaedin', 'Age': 21, 'Id': 0}, {'first name': ' Nika', 'Last name': 'Sadidi', 'Age': 22, 'Id': 1}, {'first name': ' Hesam', 'Last name': 'Fatemi zadeh', 'Age': 21, 'Id': 2}, {'first name': 'Fatemeh', 'Last name': 'Sayyadi', 'Age': 22, 'Id': '3'}], 'Id': 18}",
 "{'name': 'Mobina Mohammadiuon', 'age': 21, 'id': 19, 'cities': ['Tehran', 'Boston', 'Shahrkord'], 'friends': [{'firstName': 'Elaheh', 'lastName': 'HosseinAbadi', 'age': 21, 'id': 0}, {'firstName': 'Nika', 'lastName': 'Sadidi', 'age': 22, 'id': 1}, {'firstName': 'Azin', 'lastName': 'Esfandiari', 'age': 25, 'id': 2}]}",
 "{'name': {'firstName': 'parsa', 'lastName': 'khaki'}, 'age': 19, 'cities': ['tehran', 'boston', 'mehran'], 'friends': [{'firstName': 'shayan', 'lastname': 'shahvari', 'age': 35, 'id': 0}, {'firstName': 'kiavash', 'lastName': 'abasnejad', 'age': 21, 'id': 1}, {'firstName': 'behrad', 'lastName': 'biniaz', 'age': 30, 'id': 2}], 'id': 2}",
 "{'name': {'firstName': 'Zahra', 'lastName': 'Akhlaghipoor'}, 'age': 22, 'cities': ['Kish'], 'friends': [{'firstName': 'Tima', 'LastName': 'Kalhori', 'age': 19, 'id': 0}, {'firstName': 'Nikki', 'LastName': 'Khayyat', 'age': 21, 'id': 1}], 'id': 4}",
 "{'firstName': 'Tima', 'lastName': 'Kalhori', 'age': 19, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'friends': [{'firstName': 'philip', 'lastName': 'fry', 'age': 35, 'id': 0}, {'firstName': 'zahra', 'lastName': 'akhlaghipoor', 'age': 22, 'id': 12}, {'firstName': 'leili', 'lastname': 'shabani', 'age': 27, 'id': 32}], 'id': 5}",
 "{'name': {'firstname': 'Nikki', 'lastname': 'Khayyat'}, 'age': 23, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'friends': [{'firstname': 'Charles', 'lastname': 'Lec', 'age': 27, 'ID': 0}, {'firstname': 'Franco', 'lastname': 'Colapinto', 'age': 21, 'ID': 0}, {'firstname': 'Lewis', 'lastname': 'Hamilton', 'age': 40, 'ID': 0}], 'Id': 6}",
 "{'name': {'firstname': 'Saba', 'surname': 'Sarlak'}, 'age': 20, 'cities': ['kl', 'iis', 'maha'], 'lastCity': ['kl'], 'friends': [{'firstname': 'elnaz', 'lastname': 'ahmad', 'age': 22, 'id': 0}, {'firstname': 'asal', 'lastname': 'sabaghzade', 'age': 26, 'id': 2}, {'firstname': 'setia', 'lastname': 'dehghan', 'id': 'bestfriend', 'age': 25}], 'id': 7}",
 "{'name': {'first name': 'Mohammad', 'last name': 'Mohammad Khaninezhad'}, 'age': 20, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'friends': [{'first name': 'Shahrad', 'last name': 'Shahraki', 'age': 21, 'id': 0}, {'first name': 'Hossein', 'last name': 'Dehghan', 'age': 22, 'id': 1}, {'first name': 'Erfan', 'last name': 'Kasef', 'age': 23, 'id': 2}], 'id': 8}",
 "{'name': {'first name': 'shahrad', 'last name': 'shahraki'}, 'age': 22, 'cities': ['birjand', 'khoosf', 'tabas'], 'friends': [{'first name': 'alireza', 'last name': 'balali', 'age': 7, 'id': 2}, {'first name': 'shahrokh', 'last name': 'shahmohammadi', 'age': 40, 'id': 7}, {'first name': 'saba', 'last name': 'samaani', 'age': 34, 'id': 5}], 'id': 9}"]

# Session 16 & 17

### Q. Average age of classmates using jason library

In [137]:
!pip install json

ERROR: Could not find a version that satisfies the requirement json (from versions: none)
ERROR: No matching distribution found for json

In [138]:
# import json
# data = json.loads("temp_profile")

In [139]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\fazel\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\fazel\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\fazel\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\fazel\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\fazel\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\fazel\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [140]:
import pandas as pd
df= pd.read_csv('title.ratings.tsv', sep='\t')
display(df)

            tconst  averageRating  numVotes
0        tt0000001            5.7      2106
1        tt0000002            5.6       283
2        tt0000003            6.5      2127
3        tt0000004            5.4       182
4        tt0000005            6.2      2855
...            ...            ...       ...
1504993  tt9916730            7.0        12
1504994  tt9916766            7.1        24
1504995  tt9916778            7.2        37
1504996  tt9916840            6.9        11
1504997  tt9916880            7.9         9

[1504998 rows x 3 columns]

In [141]:
maxClm = df['averageRating'].max()
print("Maximum value of 'averageRating': ")
print(maxClm)

Maximum value of 'averageRating':
10.0

In [144]:
maxClm = df['numVotes'].max()
print("Maximum value of 'numVotes': ")
print(maxClm)

Maximum value of 'numVotes':
2968683

In [145]:
import pandas as pd
df1 = pd.read_csv('imdb_top_1000.csv',sep = ',')
display(df1)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,Number_of_Movies
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469",1
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411",1
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444",1
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000",1
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN,1
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000",1
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN,1
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN,1
1000,https://m.media-amazon.com/images/I/91mvvryP+Y...,The Hobbit: The Battle of the Five Armies,2014,UA,161 min,"Adventure, Fantasy",7.4,"The dwarves, along with Bilbo Baggins and Gand...",59.0,Peter Jackson,Ian McKellen,Martin Freeman,Richard Armitage,Ken Stott,527597,"255,119,788",1